* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #e5f2fa;
    color: #333;
}

/* HEADER */
header {
    background: #0061cf;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #01144c;
}

.cart{
    color: #ffffff;
}

/* HOME SECTION */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c8dbfc;
    padding: 10px;
}
.home-text h1 {
    font-size: 42px;
    color: #03368d;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    
    
}
.home-text h2{
    font-size: 25px;
    font-weight: bold;
    color:#023c84;
    text-align: center;
    padding: 15px;
    
}
.home-text p{
    font-size: 17px;
    line-height: 1.6;
    text-align: center;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.home-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
}
.home-img{
    width: 80%;
    height: auto;
    border-radius: 30px;
    margin-left: 50px;
    padding: 10px;
}
.home-box button{
    width: 80%;
    padding: 12px 25px;
    background: #008af4;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 50px;
    margin-bottom: 15px;
}
.home-box button:hover{
    background: #0143ad;
}
/* SERVICES */
.services {
    padding: 40px 20px;
    background-color: #40a2fe;
    text-align: center;
}

.services h2 {
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
}

.service-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;              
    padding: 20px;
}
.box h3{
    color: #001370;
    text-align: center;
    padding: 5px;
}
.box p{
    color: #010a1d;
    text-align: center;
    padding: 5px;
}
.box {
    width: 270px;    
    height:320px;         
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

.box:hover {
     transform: scale(1.05);
}

.box img {
    width: 70%;             
    height: 120px;  
    margin-top: 15px; 
    border-radius: 10px;         
    object-fit: cover;        
    border-bottom: 2px solid #eee;

}
.service-boxes button{
    background: #4291ff;
    border: none;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}
.service-boxes button:hover{
      background: #0143ad;
}
/* VET SECTION */
.vet-section {
    padding: 60px 10%;
    background: #93bdff;
}

.vet-section h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 30px;
    color: #001370;
}
.hospital-box{
    display: flex;
    gap: 40px;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    margin-right: 50px;
    margin-left: 30px;
}

.hospital-info h3 {
    font-size: 26px;
    margin-bottom: 40px;
    color: #1450cf;
    text-align: center;
}

.hospital-info p {
    color: #555;
    margin-bottom: 30px;
    line-height: 1.5;
}
.hospital-box button{
    background: #4291ff;
    width: 100%;
    border: none;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    
}
.hospital-box button:hover{
    background: #0143ad;
}
.hospital-box img {
    width: 20%;
    border-radius: 10px;
}
.hospital-services {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.hospital-services span {
    background: #ffefe3;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: #ff7b2e;
    font-weight: 600;
}
/* DOCTOR CARDS */
.vet-doctors {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.doctor-card {
    background: white;
    width: 27%;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    margin: auto;
    height: 55%;
}

.doctor-card img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.doctor-card h3 {
    margin-bottom: 8px;
    font-size: 22px;
    color: #222;
}

.doctor-card p {
    color: #555;
    margin-bottom: 15px;
}

.doctor-card button {
    background: #4291ff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.doctor-card button:hover {
   background: #0143ad;
}
/* SHOP SECTION */
.shop {
   padding: 40px 20px;
    background-color: #31a5fe;
    text-align: center;
}

.shop h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffefe3;
}

.shop-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;              
    padding: 20px;
}

.item {
    width: 220px;    
    height:260px;         
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    
}

.item:hover {
     transform: scale(1.05);
}
.item h3{
    color: #001370;
    text-align: center;
    padding: 5px;
}
.item button{ 
     background: #4291ff;
    border: none;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.item button:hover{
    background: #0143ad;
}
.item img {
    width: 70%;             
    height: 120px;  
    margin-top: 15px; 
    border-radius: 10px;         
    object-fit: cover;        
    border-bottom: 2px solid #eee;
}
/* CONTACT */
.contact {
    background: #0061cf;
    text-align: center;
    padding: 40px 40px ;
}
.foot h3{
   font-size: 28px;
    color: #eff5ff;
    font-weight: bolder;
    text-align: center;
    padding: 10px; 
}
.foot p{
    width: 70%;
    margin: auto;
    font-size: 18px;
    padding: 15px;
    color: rgb(255, 236, 130);
}
.foot-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 15px;
}
.footer-box h4{
    font-size: 20px;
    color: palevioletred;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: auto;
}
.footer-box p{
    width: 70%;
    margin: auto;
    font-size: 17px;
    padding: 5px;
    color: rgb(245, 245, 243);
}
.footer-box a{
    width: 70%;
    margin: auto;
    font-size: 17px;
    padding: 5px;
    color: rgb(245, 245, 243);
    transition: 0.3ms;
}
.footer-box a:hover {
  color: #7ab5f0;
}
.footer-bottom {
  text-align: center;
  border-top: 1px solid pink;
  color: rgb(255, 230, 0);
  padding: 15px;
  margin-top: 20px;
  font-size: 18px;
}

