* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #bedcff;
    color: #333;
}

/* HEADER */
header {
    background: #0061cf;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #01144c;
}

.cart{
    color: #ffffff;
}
#cart-section h2{
    text-align: center;
    padding: 15px;
    font-size: 32px;
    color: #01144c;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 12px;
    margin: 10px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.cart-item:hover{
    transform: scale(1.05);
}

.cart-item button {
    background: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.cart-item button:hover{
   background: darkred;
}
 nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    }

#appointmentList{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}    
#appointmentList:hover{
    transform: scale(1.05);
}
#appointmentList button{
    background: crimson;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
}
#appointmentList button:hover{
    background: darkred;
}
.appointments h2{
    text-align: center;
    padding: 20px;
    font-size: 32px;
    color: #01144c;
        }
.back-btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;        
    }
        
        
        

        
