body {
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("https://images.pexels.com/photos/1938125/pexels-photo-1938125.jpeg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    margin: 20px;
    color: #1A73E8;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: #1A73E8;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #155ec4;
}
