* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



body {
    background: #8ec2fd;
    color: #333;
}
.chooseyourpet {
    padding: 60px 40px;
    background-color: #419aff;
    text-align: center;
}
.chooseyourpet h1 {
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
    color: antiquewhite;
}

.chooseyourpet h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: pink;
}

.choose-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9px;              
    padding: 20px;
}

.box {
    width: 250px;
    height: 280px;            
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

.box:hover {
      transform: scale(1.05);
}

.box img {
    width: 80%;             
    height: 200px;  
    margin-top: 15px; 
    border-radius: 10px;         
    object-fit: cover;        
    border-bottom: 2px solid #eee;

}
.choose-boxes button{
    background: #0088ff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.choose-boxes button:hover{
    background: #005dc7;
}
.pet img{
    width: 50%;   
    display: block;          
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;         
    object-fit: cover;        
    border-bottom: 2px solid #eee;
    text-align: center;
}
.pet h2{
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #012f63;

}
.pet p{
     color: #000d1c;
    margin-bottom: 15px;
    margin-left: 320px;
    line-height: 1.5;
    text-align: auto;
    font-weight: 600px;
}
