* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #FFF7E8;
    color: #333;
}
/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;
    background: #FFE1B2;
}

.hero-text
{
    text-align: center;
}
.hero-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
    
}

button {
    padding: 12px 25px;
    background: #FF8C42;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
    
}


button:hover {
    background: #d56d2a;
}


/* HEADER */
header {
    background: #FF8C42;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #333;
}
/* Choose-Pet */
.choose-pet {
    padding: 60px 40px;
    background-color: #FFEBD1;
    text-align: center;
}

.choose-pet h2 {
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
}

.choose-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9px;              
    padding: 20px;
}

.box {
    width: 150px;
    height: 150px;            
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

.box:hover {
      transform: scale(1.05);
}

.box img {
    width: 130px;             
    height: 120px;            
    object-fit: cover;        
    border-bottom: 2px solid #eee;

}
.choose-boxes button{
    background: #ff8c42;
    border: none;
    margin-top: 35px;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.choose-boxes button:hover{
    background: #ff6f00;
}

.popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-box input,
.popup-box select {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popup-box button {
    width: 100%;
    padding: 12px;
    background: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* SERVICES */
.services {
    padding: 40px 20px;
    background-color: #ffd9ad;
    text-align: center;
}

.services h2 {
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
}

.service-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;              
    padding: 20px;
}

.box {
    width: 220px;    
    height:260px;         
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

.box:hover {
     transform: scale(1.05);
}

.box img {
    width: 70%;             
    height: 120px;  
    margin-top: 15px; 
    border-radius: 10px;         
    object-fit: cover;        
    border-bottom: 2px solid #eee;

}
.service-boxes button{
    background: #ff8c42;
    border: none;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.service-boxes button:hover{
      background: #ff6f00;
}

/* VET SECTION */
.vet-section {
    padding: 60px 10%;
    background: #f5ddbd;
}

.vet-section h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 30px;
    color: #222;
}

/* HOSPITAL BOX */
.hospital-box {
    display: flex;
    gap: 20px;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

.hospital-box img {
    width: 20%;
    border-radius: 10px;
}

.hospital-info h3 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
}

.hospital-info p {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
}

.hospital-services {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.hospital-services span {
    background: #ffefe3;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: #ff7b2e;
    font-weight: 600;
}

/* DOCTOR CARDS */
.vet-doctors {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.doctor-card {
    background: white;
    width: 30%;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.doctor-card img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.doctor-card h3 {
    margin-bottom: 8px;
    font-size: 22px;
    color: #222;
}

.doctor-card p {
    color: #555;
    margin-bottom: 15px;
}

.doctor-card button {
    background: #ff8c42;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.doctor-card button:hover {
    background: #ff6f00;
}

/* SHOP SECTION */
.shop {
   padding: 40px 20px;
    background-color: #ffd9ad;
    text-align: center;
}

.shop h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.shop-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;              
    padding: 20px;
}

.item {
    width: 220px;    
    height:260px;         
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

.item:hover {
     transform: scale(1.05);
}

.item img {
    width: 70%;             
    height: 120px;  
    margin-top: 15px; 
    border-radius: 10px;         
    object-fit: cover;        
    border-bottom: 2px solid #eee;
}

.item button{
     margin-top: 15px;
}



/* ABOUT */
.about {
    background: #ffeccd;
    padding: 60px 40px;
    text-align: center;
}

.about p {
    width: 70%;
    margin: auto;
    font-size: 18px;
}

/* CONTACT */
.contact {
    padding: 40px;
    text-align: center;
}

/* FOOTER */
footer {
    background: #FF8C42;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}
